<h2>Add My Info</h2>

<p>Get it right the first time. Put your name for name (first, last, whatever) and some sort of indication as to where you live on Earth (be as specific or vague as you like, but bear in mind this is technically a public site. No edits after submits. :)</p>

<%= render 'form' %>

<%= link_to 'Back', people_path %>
