<h3>Add a link to my list</h3>
<p>"Name" will be the link text -- usernames, site titles, whatever you want to put there. For URL, be sure you use the actual http:// prefix (I'm checking!) or a proper e-mail address, in the case of email. The "Website" category is a catchall for anything I didn't think to include (eg. MySpace)</p>
<%= render 'form' %>

<%= link_to 'Nevermind, I don\'t really have another link', person_path(@person) %>
