<!DOCTYPE html>
<html>
<head>
  <title>BnrAmhillNet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<h1>BNR - zOMG NETWORKING!!111!one!</h1>
<%= yield %>
</div>
<a id="hat" href="http://www.bignerdranch.com"><img src="/images/hat.png" /></a>
</body>
</html>
